.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px auto;
  align-items: center;
}

.info p {
  max-inline-size: 900px;
  margin: 0;
  font: var(--textPoppinsRegular);
  text-align: center;
}

.info h5 {
  font: var(--headline5);
  text-align: center;
  margin: 0;
}

.info img {
  width: 80px;
  height: 80px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .info {
    margin: 200px auto;
  }

  .info p {
    font: var(--textOxygen);
  }
}